.about {
    padding-top: 5rem;
    background-color: #F3E4E1;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.about .bold {
    font-weight: 700;
    font-size: 14px;
    line-height: 22.4px;
}

.about h1 { 
    width: 90vw;
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 120%;
    text-align: left;
}

.about p {
    width: 90vw;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    text-align: left;
  }

.about img {
    width: 74px;
    height: 74px;
    border-radius: 50px;
}

.founderContainer {
    width: 90vw;
    height: 126px;
    text-align: center;
    padding-top: 1rem;
}

.founderContainer h3, .founderContainer p {
    margin: 0;
}

.about .title {
    text-align: center;
    width: 100%;
}