.about {
    height: 100vh;
    width: 100vw;
    padding: auto 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about h1 { 
    width: 90vw;
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 120%;
}

.about p {
    width: 90vw;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
  }

.about img {
    width: 74px;
    height: 74px;
    border-radius: 50px;
}

.founderContainer {
    width: 90vw;
    height: 126px;
    text-align: center;
}