.header--about {
    min-height: 60px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .header--icon {
    width: 1rem;
    height: 1rem;
  }
  
  
  
  .iconWrapper--nav-about { 
    background-color: white;
    margin-top: 3px;
  }